/*
Sam's autoshop stylesheet
*/

body {
     background-color: lightblue;
     font-family: Arial, 'Times New Roman'
     
}

h1 {
     background-color: Blue;
     color: White;
}

table, th, td {
    border: 1px solid black;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: green;
}
